.container {
  text-align: center;
}
.form-control {
    border-radius: 20px;
}
.btn {
    border-radius: 20px;
    background: rgba(187, 222, 214, 1);
}
.form-group {
     padding-bottom: 30px;
     
}
