body{
  background-color: #8ac6d1;
}
.button {
  font-size: 14px;
  background: #f56767;
  width: 90px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.button1 {
  display: inline-block;
  padding: 10px;
}
.btn1{
  font-size: 14px;
  background: #f56767;
  width: 90px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.word{
  cursor: pointer;
}
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 12px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #fae3d9;
}
#slider{
  overflow: hidden;
}
#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img{
  float: left;
  width: 20%;
}
@keyframes slider{
  0%{left: 0;}
  20%{left: 0;}
  25%{left: -100%;}
  45%{left: -100%;}
  50%{left: -200%;}
  70%{left: -200%;}
  75%{left: -300%;}
  95%{left: -300%;}
  100%{left: -400%;}
}
.textDeco{
  text-decoration: none;
}